@import "styles/variables.scss";

.navheader {
  margin-bottom: 50px;
}

.link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &:hover {
    color: $creamish-25 !important;
  }
}

.inActiveLink {
  @extend .link;
  color: $grey-50 !important;
  font-weight: 500;
}

.linkIsActive {
  @extend .link;
  color: black !important;
  font-weight: 650;
}
