@import "styles/variables.scss";

.navheader {
  margin-bottom: 50px;
}

.link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &:hover {
    color: $creamish-25 !important;
  }
}

.terminal_text {
  @apply order-2 col-span-5 text-8xl leading-tight md:leading-normal md:order-1 sm:text-7xl;
}

.header_container {
  background-color: #b88c53;
}

.header_grid {
  min-height: 150px;
}

.inActiveLink {
  @extend .link;
  color: $grey-50 !important;
  font-weight: 500;
}

.linkIsActive {
  @extend .link;
  color: black !important;
  font-weight: 650;
}
