.container {
  padding: 0 40px;
  max-width: 1350px;
  @apply ml-0 mr-0;
  line-height: 1.5;
}

.row_container {
  width: 100%;
  float: left;
}

.row_container_flexbox {
  @apply grid grid-cols-2 bg-slate-50;
  align-items: center;
}

.container h1:not(.name) {
  font-size: 32px;
}

.container img {
  width: 100%;
  height: auto;
}

.date {
  @apply text-base;
  text-align: left;
  span {
    color: darken($chalk, 35%);
  }
}

.newPageArrow {
  @apply ml-2;
  color: #fff;
  padding: 1px 2px;
  transition: 0.4s ease all;
  cursor: pointer;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container figcaption {
  opacity: 0.6;
}

.title_container {
}

.article_section {
}

.name {
  @apply text-5xl text-left;
  line-height: 1;
  letter-spacing: 0.005em;
  word-spacing: -0.002em;
}

.text_container {
  @apply ml-4;
  padding: 50px 14% 50px 7.8%;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: #cccaca;
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.top_row {
  @apply -ml-4 -mr-4;
}

.pre {
  background-color: #cccaca;
  padding: 2px 4px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 12px;
  overflow: auto;
}

.code_block {
  padding: 20px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
}

.file {
  padding: 2px 4px;
  text-decoration: none;
}

.file a {
  color: inherit;
}

.file:hover {
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

// @media (prefers-color-scheme: dark) {
//   .code {
//     background-color: rgb(15, 8, 28);
//   }
//   .file:hover {
//     background: rgba(255, 255, 255, 0.1);
//     cursor: pointer;
//     border-radius: 2px;
//   }
//   .pre {
//     background-color: rgb(15, 8, 28);
//   }
// }
