@import "./imports.scss";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Helvetica Neue, sans-serif;
}

body {
  background-color: $grey;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $grey-50;
    color: rgb(245, 236, 236);
  }
}

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-3xl;
  font-weight: 900;
}

h2 {
  @apply text-2xl;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Tinos, "Times New Roman", Times, serif;
}

h5 {
  color: $green;
  opacity: 95%;
}

.grid {
  align-items: start;
}
