@import "./imports.scss";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Helvetica Neue, sans-serif;
}

body {
  background-color: white;
  color: black;
}

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-3xl;
  font-weight: 900;
}

h2 {
  @apply text-2xl;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Tinos, "Times New Roman", Times, serif;
}

h5 {
  color: $creamish-25;
  opacity: 95%;
}

.grid {
  align-items: start;
}

.page-type {
  font-weight: 900;
  font-family: Tinos, "Times New Roman", Times, serif;
  color: $creamish-25;
  opacity: 35%;
  z-index: 1;
}

.tag-colour {
  background-color: #b02626;
  color: $chalk;
}

.read-more {
  color: #912020;
  text-transform: uppercase;
  @apply text-xs font-bold hover:fill-orange-300;
}

@layer utilities {
  @layer components {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
