// Colours
$black: #131313;

$chalk: #eeeeee;
$chalk-10: darken($chalk, 10%);
$chalk-25: darken($chalk, 25%);
$chalk-50: darken($chalk, 50%);
$chalk-75: darken($chalk, 75%);

$creamish: #a69a77;
$creamish-10: darken($creamish, 10%);
$creamish-25: darken($creamish, 25%);
$creamish-50: darken($creamish, 50%);
$creamish-75: darken($creamish, 75%);

$red: #d90404;
$red-10: darken($red, 10%);
$red-25: darken($red, 25%);
$red-50: darken($red, 50%);
$red-75: darken($red, 75%);

$yellow: #e89409;
$yellow-10: darken($yellow, 10%);
$yellow-25: darken($yellow, 25%);
$yellow-50: darken($yellow, 50%);
$yellow-75: darken($yellow, 75%);
